@font-face {
  font-family: 'NeonTubes2-Regular';
  src: url('/assets/NeonTubes2-Regular.eot');
  src: url('/assets/NeonTubes2-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/NeonTubes2-Regular.woff') format('woff'),
       url('/assets/NeonTubes2-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body, html {
	background-color: #001321;
	overflow: hidden;
}

body {
	height: 100vh;
	width: 100vw;
}

#particles-js {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	margin: 0;
	padding; 0;
	overflow: hidden;
}

h1 {
	font-family: 'NeonTubes2-Regular';
	font-size: 72px;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
}

.red {
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
}
.blue {
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
}

.blink {
  -webkit-animation: blink 4s infinite alternate;
  animation: blink 4s infinite alternate;
}

.buzz {
  -webkit-animation: buzz 0.1s infinite alternate;
  animation: buzz 0.1s infinite alternate;
}
 
@-webkit-keyframes buzz {
  70% {
    opacity: 0.80;
  }
}
 
@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}
@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}
@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}